name: Run tests
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          cache-dependency-path: |
            example/package.json
            package.json
          node-version: "19.x"
          cache: "npm"
      - run: node setup.cjs
      - run: npm test
      - run: npm run typecheck
      - run: npm run lint
      - run: npm run attw
